certifi==2022.9.24
chardet==5.2
charset-normalizer==2.1.1
idna==2.8
Jinja2==2.10.2
MarkupSafe==1.1.0
packaging==23.1
prettytable==3.7.0
Pygments==2.3.1
pyparsing==3.0.9
PyYAML==5.1
requests==2.31.0
setuptools==68.0.0
urllib3==2.0.4
wcwidth==0.2.5
