certifi==2024.7.4
chardet==5.2
charset-normalizer==2.1.1
greenlet==3.0.3
idna==3.7
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging
prettytable==3.7.0
Pygments==2.17.2
pyparsing==3.0.9
PyYAML==6.0.2
requests==2.32.4
setuptools==78.1.1
SQLAlchemy==2.0.32
typing-extensions>=4.7.1
urllib3==2.5.0
wcwidth==0.2.5

# SpiderPig stuff
fastapi[standard]==0.116.1
pydantic==2.10.6
pydantic-core==2.27.2
annotated-types
starlette==0.47.2
anyio
exceptiongroup
sniffio
python-multipart

pyotp
pyjwt
python-cas
itsdangerous
lxml
six

# Alembic stuff
alembic
importlib-resources
zipp
mako
