Source: scap
Maintainer: Wikimedia Foundation Release Engineering <releng@wikimedia.org>
Uploaders: Tyler Cipriani <tcipriani@wikimedia.org>,
           Dan Duvall <dduvall@wikimedia.org>,
           Mukunda Modell <mmodell@wikimedia.org>,
           Antoine Musso <hashar@free.fr>,
           Lars Wirzenius <lwirzenius@wikimedia.org>
Section: python
Priority: optional
Build-Depends:
  debhelper (>= 9),
  dh-python (>= 1.2014),
  python-all (>= 2.7),
  python-setuptools,
  python-concurrent.futures,
  python-jinja2,
  python-pygments,
  python-yaml,
  python-requests,
  git,
  bash-completion,
  python-six,
  python-configparser,
  python-psutil,
  tox | python-tox,
  flake8 | python-flake8
Standards-Version: 4.5.1
X-Python-Version: >= 2.7

Package: scap
Architecture: all
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends},
  python-concurrent.futures, python-jinja2, python-psutil, python-pygments,
  python-yaml, python-requests, git, python-six,
  python-configparser
Breaks: ${python:Breaks}
Provides: ${python:Provides}
Suggests: git-fat, php5-cli | php-cli | hhvm
Description: Deployment toolchain for Wikimedia projects
 Scap is a tool that was originally designed to deploy MediaWiki code on
 Wikimedia Foundation servers.
 .
 Functionality has since been added to support just about any git-based
 project, with additional support for serial deployment groups, templated
 configuration deployment, rolling or highly concurrent execution, service
 restart, intermediate checks, and automated rollback.
 .
 This is the Python 2 version of the package.
