#!/usr/bin/make -f
export PYBUILD_NAME=scap
export DEB_BUILD_OPTIONS=nocheck

PKG_VERSION = $(shell dpkg-parsechangelog --show-field Version)

%:
	dh $@ --with python2,bash-completion --buildsystem=pybuild

override_dh_auto_configure:
	dh_auto_configure
	echo "__version__ = '$(PKG_VERSION)'" > scap/version.py
